- flash.each do |type, msg|
  .alert.alert-info.alert-dismissible.fade.show{:style => "z-index:9999;"}
    = msg
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
= render '/nav'
-# Create by
.header.d-flex.flex-column.justify-content-center.border-bottom.border-2.mt-5
  .row
    .col-4.border-end.border-2
      %img.rounded-circle{:alt => "Creator Image", :src => image_path("myImage.jpg"), :height => "300vh"}
    .col-8
      .header-content
        %h1
          I'm Tiew, the creator of this web
        %p.ps-4.pt-4
          Welcome to Small, the web blog referencing from Medium
          %br
          %br
          You need to got approval before login.
        %p.pt-4
          Contact Me :
          %a.ms-2{:href => "mailto:tiewclub9@gmail.com"}
            %img.email{:alt => "Email Icon", :src =>"https://cdn-icons-png.flaticon.com/512/95/95645.png",:style => "width:42px;height:42px;"}

-# Feed Body
.container
  = render 'posts'

